* {
  margin: 0;
  padding: 0;
  background-color: PaleGoldenRod;
}

#clock-container  {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#circle {
  background-color: SteelBlue;
  width: 600px;
  height: 600px;
  border-radius: 100%;
  position: absolute;
  top: 25px;
}
.hours {
  height: 10px;
  width: 140px;
  background-color: Black;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20%;
  tra
}
.minutes {
  height: 10px;
  width: 280px;
  background-color: Black;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20%;
}
.seconds {
  height: 5px;
  width: 140px;
  background-color: Black;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20%;
}
